

/* OVERALL PAGE CSS */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: black;
}

a {
  color: rgb(82, 73, 163);
  text-decoration: none;
}

a:hover {
  color: #6c12a8;
  text-decoration: underline;
}

label {
  display: block;
}

/* navbar component */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  color: white;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}


/* homepage view */

/* div.content {
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
} */

h3.home {
  color: lightgrey;
  margin-left: 10px;
}

/* .landing-img {
  height: 1000px;
  width: 1600px;
  background-image: url('https://i.ibb.co/RDhbmpm/High-Definition-Wallpapers-Space-Galaxy-Desktop-Background.jpg');
  z-index: 1;
  position: relative;
  margin: 20px;
} */

header {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://i.ibb.co/RDhbmpm/High-Definition-Wallpapers-Space-Galaxy-Desktop-Background.jpg);
  background-size: cover;
  height: 100vh;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.far {
  font-family: sans-serif;
  text-transform: uppercase;
  margin: 0;
  font-size: 5rem;
  white-space: nowrap;
}



/* .fade {
  position: relative;
  width: 800px;
  height: 700px;
  min-height: 120vh;
  top: 15px;
  background-image: url('https://i.ibb.co/RDhbmpm/High-Definition-Wallpapers-Space-Galaxy-Desktop-Background.jpg'); 
  z-index: 1;
} */

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}

.crawl {
  position: relative;
  top: 9999px;
  transform-origin: 50% 100%;
  animation: crawl 30s linear;
  animation-iteration-count: infinite;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -6000px;
    transform: rotateX(15deg) translateZ(-2500px);
  }
}


/* shopping cart view  */

#shopping-cart {
  height: 2em;
}

#cart_container {
  display: flex;
  justify-content: center;
}

#cart_list {
  flex-basis: 67%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart_item {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  width: 500px;
}

.cart_item p,
label,
input {
  margin: 5px;
}

.cart_item img {
  height: 100px;
}

.cart_name {
  font-size: 20px;
  padding-bottom: 10px;
  text-decoration: bold;
}

.delete {
  align-self: flex-start;
  height: 30px;
}

#cart_total {
  border-left: 1px solid gray;
  flex-basis: 33%;
  text-align: center;
  margin-top: 30px;
}

#go_checkout {
  margin-top: 30px;
}

#cart_list button {
  display: block;
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
}

/* single galaxy view */

.single-galaxy-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.single-galaxy-info {
  color: white;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 3%;
}

.single-galaxy-image {
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-left: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 3%;
}

.single-galaxy-image > img {
  width: 40vw;
  height: 30vw;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  flex-shrink: 3;
}

.single-galaxy-info > h1 {
  font-weight: lighter;
  margin-top: 0;
}

.single-galaxy-info > h2 {
  font-size: 20px;
}

.single-galaxy-info > h3 {
  font-weight: lighter;
}

.single-galaxy-info > p {
  font-size: 12px;
  font-weight: lighter;
}

.single-galaxy-buy > h4 {
  font-weight: lighter;
  margin-bottom: 1px;
  margin-left: 5px;
}

.single-galaxy-buy > button {
  border: none;
  background-color: rgb(24, 15, 63);
  color: white;
  border-radius: 25px;
  padding: 10px 15px;
}

.single-galaxy-buy > input {
  padding-left: 0;
  margin-left: 5px;
  width: 60px;
  display: inline-block;
}


/* AllGalaxies component */

#outer-galaxies-container {
  display: flex;
  justify-content: space-evenly;

}

.galaxy-name {
  font-size: 1.5em;
}

.galaxy-img {
  height: 200px;
  width: 200px;
}

.galaxy-info {
  /* border-style: solid; */
  /* border-color: #000; */
  text-align: center;
  width: 250px;
  /* color:blanchedalmond; */
}
